<%= form_with(model: [:admin, post], class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prevented saving:</h2>
      <ul class="list-disc ml-6">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.textarea :content, rows: 6, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :attachments, "Attachments" %>
    <%= form.file_field :attachments, multiple: true, direct_upload: true, class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


